$red			: #ff1744 !default;
$teal			: #00bfa5 !default;
$cyan			: #00b8d4 !default;
$blue			: #1e88e5 !default;
$purple		: #aa00ff !default;
$yellow		: #ffc107 !default;
$dark			: #212121 !default;
$grey			: #424242 !default;
$light		: #fafafa !default;
$light-blue	: #eceff1 !default;
