@import "colors.scss";
@import "mybtn.scss";

form {
   display: flex;
}

menu {
   position: fixed;
   right: 0;
   bottom: 0;
   margin: 20px 30px;
   text-align: right;
}

body,
html {
   margin: 0;
   padding: 10px 0 0;
}

h3 {
   margin-top: 0;
}

.mybtn-save {
   @include square-btn($teal, white);
   margin-left: 5px;

   &:hover {
      background-color: darken($teal, 5);
   }

   &:active,
   &:focus {
      background-color: darken($teal, 10);
   }
}

.mybtn-cancel {
   @include square-btn(white, $red);

   &:hover {
      background-color: $red;
      color:            white;
   }

   &:active,
   &:focus {
      background-color: darken($red, 15);
      color:            white;
   }
}
