@import "colors.scss";
@import "mybtn.scss";

.form {
   display: flex;
   flex-wrap: nowrap;
}

.container {
   flex-basis: 50%;
}

menu {
   position: fixed;
   right: 0;
   bottom: 0;
   margin: 20px 30px;
   text-align: right;
}

body,
html {
   margin: 0;
   padding: 10px 0 0;
}

h3 {
   margin-top: 0;
}

.help {
   font-size: 12px;
   font-style: italic;
}

.mybtn-save {
   @include square-btn($teal, white);
   margin-left: 5px;

   &:hover {
      background-color: darken($teal, 5);
   }

   &:active,
   &:focus {
      background-color: darken($teal, 10);
   }
}

.mybtn-cancel {
   @include square-btn(white, $red);

   &:hover {
      background-color: $red;
      color:            white;
   }

   &:active,
   &:focus {
      background-color: darken($red, 15);
      color:            white;
   }
}

.mintypmax, .efficiency, .dropout {
   &:nth-child(1) {
      padding-left:  15px;
      padding-right: 1px;
   }
   &:nth-child(2) {
      padding-left:  8px;
      padding-right: 8px;
   }
   &:nth-child(3) {
      padding-left:  1px;
      padding-right: 15px;
   }
}

#effChart, #dropChart {
   margin-top: 10px;
}

#add_eff, #addDrop {
   padding-left: 0;
   padding-right: 0;
   width: 100%;
}
