@import "colors.scss";
@import "fonts.scss";



/* -----------------------------------------------------------------------------
   GLOBAL
   -------------------------------------------------------------------------- */

.mybody {
   text-align:  center;
   font-family: opensansregular;
   background: url('../img/bg.png') fixed;
}

.link {
   color: $teal;
   text-decoration: none;

   &:hover {
      color: lighten($teal, 20);
      text-decoration: underline;
   }
}



/* -----------------------------------------------------------------------------
   NAVBAR
   -------------------------------------------------------------------------- */

.navbar {
   background-color: $dark;
   border-bottom:    1px solid rgba(0,0,0,0.5);
}



/* -----------------------------------------------------------------------------
   DOWNLOAD
   -------------------------------------------------------------------------- */

#download {
   margin-top:    55px;
   padding:       100px 0;

   font-family:   opensanslight;
   color:         $teal;
}

.header {
   display:          flex;
   flex-direction:   row;
   justify-content:  center;
   align-items:      center;
   margin-bottom:    20px;

   & > * {
      margin: 0 15px;
   }
}

.logo img {
   $size:  140px;
   height: $size;
   width:  $size;
}

.title {
   color: white;
   font-size: 140px;
   line-height: 0;
}

.subtitle {
   text-align: center;
   font-size: 24px;
}

.download-button {
   margin: 70px 0 20px 0;
   text-align: center;
   font-size: 24px;

   & > a {
      padding:          6px 20px;

      background:       none;
      background-color: rgba($teal, 0.05);

      border:           none;
      border-radius:    5px;
      border:           1px solid darken($teal, 20);

      color:            $teal;
      text-decoration:  none;
      text-transform:   uppercase;

      transition:       150ms ease;

      &:hover {
         background-color: rgba($teal, 0.1);
         border:           1px solid darken($teal, 10);
         color:            lighten($teal, 20);
         text-decoration:  none;
         box-shadow: 0 0 10px rgba($teal, 0.2);
      }
   }
}

.download-info {
   display:          flex;
   flex-direction:   row;
   justify-content:  center;
   align-items:      center;
}

.download-info > * {
   margin: 0 20px;
   white-space: nowrap;

   &:nth-child(1) {
      text-align: right;
      flex-basis: 50%;
   }
   &:nth-child(2) {
      text-align: center;
   }
   &:nth-child(3) {
      text-align: left;
      flex-basis: 50%;
   }
}



/* -----------------------------------------------------------------------------
   FEATURES
   -------------------------------------------------------------------------- */

#features {
   padding: 100px;
   background-color: white;
   color: $dark;

   display:          flex;
   flex-direction:   column;
   justify-content:  center;
   align-items:      center;
}

.feature-text {
   margin: 0 0 40px 0;
   text-align: center;
   font-size: 24px;
}

.feature-img-container {
   margin: 0 0 130px 0;
}

.feature-img {
   margin: 5px;
   max-width: 100%;
   box-shadow: 0 0 20px rgba($dark, 0.2);
}



/* -----------------------------------------------------------------------------
   ABOUT
   -------------------------------------------------------------------------- */

#about {
   padding: 20px 0 100px;

   background-color: none;

   color: white;
   font-family: opensansregular;
   text-align: left;
}


#about > div {
   margin-top: 30px;

   display:          flex;
   flex-direction:   row-reverse;
   justify-content:  flex-end;
   align-items:      center;
}


#about img {
   margin-right: 40px;
   width: 100px;
}

.about-title {
   margin: 80px 0 20px 0;
}

.about-text {

}

.about-quote {
   font-style: italic;
   padding: 0 50px;
}


/* -----------------------------------------------------------------------------
   FOOTER
   -------------------------------------------------------------------------- */

#footer {
   background-color: $teal;
   padding: 30px;
   color: white;
}

#footer > .email {
   color: white;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}
