@import "colors.scss";
@import "mybtn.scss";

html {
   height: 100%;
}

body {
   height:         100%;
   display:        flex;
   flex-direction: column;
   user-select:    none;
}

.partTable {
   min-width: 100%;
   flex-grow: 0;
}

.emptyzone {
   flex-grow: 1;
}


// -----------------------------------------------------------------------------
// part table thead
// -----------------------------------------------------------------------------

th {
   color:         white;
   font-weight:   normal;
   font-size:     12px;
   text-align:    center;
   border-radius: 0;
   padding:       4px 12px;
   white-space:   nowrap;
   outline:       none;
}

.tr_bottom th {
   border-bottom: 4px solid;
}
$thead_colors: ( charac: $teal, current: $grey, power: $red );

@each $pos in 'charac' 'current' 'power' {
   $color1: map-get($thead_colors, #{$pos});
   $color2: darken($color1, 10);

   .th_#{$pos} {
      background-color: $color1;
   }

   .tr_bottom .th_#{$pos} {
      border-color: $color2;

      &:hover {
         background-color: $color2;
      }
   }
}

.item_charac {
   display: block;
}

@each $dir in 'Asc' 'Desc' {
   .sort#{$dir} {
      background-image:    url('../img/chevron-#{$dir}.png');
      background-repeat:   no-repeat;
      background-position: center right;

      @each $pos in 'charac' 'current' 'power' {
         &.th_#{$pos} {
            background-color: darken(map-get($thead_colors, #{$pos}), 10);
         }
      }
   }
}


// -----------------------------------------------------------------------------
// part table tbody
// -----------------------------------------------------------------------------

.partTable tr {
   &:nth-child(even):not(.selected):not(:hover) {
      background-color: rgba(0,0,0,0.05);
   }

   &:hover {
      background-color: rgba(0,0,0,0.1);
   }

   &.selected {
      background-color: lighten($cyan, 40);
   }
}

.partTable td {
   text-align: center;
   padding:    2px;

   &.td_editable:hover {
      background-color: rgba(0,0,0,0.15);
   }
}

.partTable td.td_typ {
   border-left:  1px solid rgba(0,0,0,0.2);
   border-right: 1px solid rgba(0,0,0,0.05);
}

.partTable td.td_current[data-value='0'],
.partTable td.td_power[data-value='0'] {
   color: rgba(0,0,0,0.2);
}

.partTable td.td_charac > .edition {
   width: 100px;
}

.partTable td.td_current > .edition {
   width: 50px;
}

.edition {
   text-align: center;
   color: black;
}

.partTable td.td_charac:not(:first-child) {
   text-align: left;
}

.partTable .label {
   font-weight: normal;
}

.partTable .label-default {
   background-color: darken($teal, 10);;
}


// -----------------------------------------------------------------------------
// floating controls
// -----------------------------------------------------------------------------

.addPart {
   position: fixed;
   bottom:   10px;
   left:     10px;

   & > button {
      @include round-btn($teal);
   }
}

.removePart {
   position: fixed;
   bottom:   10px;
   left:     70px;
   display:  none;

   & > button {
      @include round-btn($red);
   }
}


$undoredo_size: 30px;
$undoredo_marginLR: 3px;
.undo-redo {
   width:         $undoredo_size*2 + $undoredo_marginLR*4;
   position:      fixed;
   bottom:        10px;
   left:          50%;
   margin-left:   -($undoredo_size + $undoredo_marginLR*2);
}

.undo {
   float:left;
}

.redo {
   float:right;
}

.undo, .redo {
   margin:  10px $undoredo_marginLR;
   display: none;

   & > button {
      @include round-btn($grey, $undoredo_size);
   }
}

.showMore {
   z-index: 10;

   & > button {
      @include round-btn($yellow);
   }
}

$more_buttons: ( 0 : '.importTable', 1 : '.exportTemplate', 2 : '.exportTable' );
$more_buttons_color: ( 0 : $cyan, 1 : $blue, 2 : $purple );
@for $i from 0 through 2 {
   #{map-get($more_buttons, $i)} {
      z-index: $i;

      & > button {
         @include round-btn(map-get($more_buttons_color, $i), 0);
         transition-delay: #{$i*30}ms;
      }
   }
}

.more > div:not(.showMore) {
   transition: width 400ms ease;
   width:      0;

   & > button {
      opacity:    0;
      font-size:  0;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
   }
}

.more {
   position:        fixed;
   bottom:          10px;
   right:           10px;
   display:         flex;
   align-items:     center;
   justify-content: flex-end;

   &:hover {
      width: 200px;

      & > div:not(.showMore) {
         display: block;
         width:   50px;

         & > button {
            opacity:       1;
            font-size:     12px;
            $newsize:      40px;
            width:         $newsize;
            height:        $newsize;
            border-radius: $newsize/2;
         }
      }
   }
}
