@import "colors.scss";

.partTable {
	min-width: 100%;
}

// -----------------------------------------------------------------------------
// part table header
// -----------------------------------------------------------------------------

th
{
	color:			white;
	font-weight:	normal;
	font-size:		12px;

	text-align:		center;
	border-radius:	0;
	padding:			4px 12px;

	white-space:	nowrap;

	outline: none;
}

.tr_bottom th {
	border-bottom:	4px solid;
}

$thead_colors: (
	charac:	$teal,
	current:	$grey,
	power:	$red
);

@each $pos in 'charac' 'current' 'power' {
	$color1: map-get($thead_colors, #{$pos});
	$color2: darken($color1, 10);

	.th_#{$pos} {
		background-color: $color1;
	}

	.tr_bottom  .th_#{$pos} {
		border-color: $color2;
		&:hover {
			background-color: $color2;
		}
	}
}

.item_charac {
	display: block;
}

@each $dir in 'Asc' 'Desc' {
	.tablesorter-header#{$dir} {
		background-image: url('../img/chevron-#{$dir}.png');
		background-repeat: no-repeat;
		background-position: center right;

		@each $pos in 'charac' 'current' 'power' {
			&.th_#{$pos} {
				background-color: darken(map-get($thead_colors, #{$pos}), 10);
			}
		}
	}
}


// -----------------------------------------------------------------------------
// part table body
// -----------------------------------------------------------------------------

.partTable tr:nth-child(even) {
	background-color: rgba(0,0,0,0.05);
}

.td_typ {
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.05);
}

.partTable tr {
	&:hover {
		background-color: rgba(0,0,0,0.12);
	}
}

.partTable td {
	text-align: center;
	padding: 2px;

	&.td_editable:hover {
		background-color: rgba(0,0,0,0.15);
	}
}


// -----------------------------------------------------------------------------
// controls
// -----------------------------------------------------------------------------

.addPart {
	position:	fixed;
	bottom:		10px;
	left:			10px;

	& > button {
		background: $teal;
	}
}

.removePart {
	position:	fixed;
	bottom:		10px;
	left:			70px;

	& > button {
		background: $red;
	}
}

.myBtn > button
{
	$btn_size:		50px;
	display:			block;
	height:			$btn_size;
	width:			$btn_size;
	border-radius:	$btn_size/2;
	border:			none;
	outline:			0;
	color:			white;

	transition:		150ms ease;
	box-shadow:		0 1px 1px 0 rgba(0,0,0,0.3);

	&:hover {
		box-shadow:	0 1px 3px 1px rgba(0,0,0,0.3);

		& > .fa {
			font-size: 1.37em;
		}
	}

	&:active {
		box-shadow:	none;

		& > .fa {
			font-size: 1.33em;
		}
	}
}
