$red			: #ff1744;
$teal			: #00bfa5;
$cyan			: #00b8d4;
$purple		: #aa00ff;
$dark			: #212121;
$grey			: #424242;
$light		: #fafafa;
$light-blue	: #eceff1;


.partTable {
	min-width: 100%;
}

// -----------------------------------------------------------------------------
// part table header
// -----------------------------------------------------------------------------

th
{
	color:			white;
	font-weight:	normal;
	font-size:		12px;

	text-align:		center;
	border-radius:	0;
	padding:			4px 12px;

	white-space:	nowrap;
}

.tr_bottom th {
	border-bottom:	4px solid;
}

$thead_colors: (
	charac:	$teal,
	current:	$grey,
	power:	$red
);

@each $pos in 'charac' 'current' 'power' {
	$color1: map-get($thead_colors, #{$pos});
	$color2: darken($color1, 10);

	.th_#{$pos} {
		background-color: $color1;
	}

	.tr_bottom  .th_#{$pos} {
		border-color: $color2;
		&:hover {
			background-color: $color2;
		}
	}
}

.item_charac {
	display: block;
}

// -----------------------------------------------------------------------------
// controls
// -----------------------------------------------------------------------------

.addPart {
	position:	fixed;
	bottom:		10px;
	left:			10px;
}

.myBtn > button
{
	$btn_size:		50px;
	display:			block;
	height:			$btn_size;
	width:			$btn_size;
	border-radius:	$btn_size/2;
	border:			none;
	outline:			0;
	background:		$teal;
	color:			white;

	transition:		150ms ease;
	box-shadow:		0 1px 1px 0 rgba(0,0,0,0.3);

	&:hover {
		box-shadow:	0 1px 3px 1px rgba(0,0,0,0.3);
	}

	&:active {
		box-shadow:	none;
	}
}
