@import "colors.scss";
@import "mybtn.scss";

body {
   margin: 20px;
}

.content {
   margin: 0 10px;
   font-size: 12pt;
}

menu {
   position: fixed;
   right: 0;
   bottom: 0;
   margin: 20px;
   text-align: right;
}

.mybtn-ok {
   @include mybtn($teal, white);
   margin-left: 5px;

   &:hover {
      background-color: darken($teal, 5);
   }

   &:active,
   &:focus {
      background-color: darken($teal, 10);
   }
}

.mybtn-cancel {
   @include mybtn(white, $red);

   &:hover {
      background-color: $red;
      color:            white;
   }

   &:active,
   &:focus {
      background-color: darken($red, 15);
      color:            white;
   }
}
