@import "colors.scss";
@import "mybtn.scss";

$topmenu_height: 30px; // >= 20px


// -----------------------------------------------------------------------------
//   Page
//

body {
   min-width:  100%;
   min-height: 100%;
   margin:     $topmenu_height 0 0;
   padding:    0;
   background: 0 10px url('../img/canvas_background.png');
}


// -----------------------------------------------------------------------------
//   Item info
//

$info_background_color: rgba( 34, 34, 34,1);
$info_text_color:       rgba(255,255,255,1);
$info_border_color:     rgba(255,255,255,0.2);

.item_info {
   display:       none;
   position:      absolute;
   background:    $info_background_color;
   color:         $info_text_color;
   font-family:   arial;
   font-size:     12px;
   border-radius: 10px;
   padding:       5px 5px;
}

.item_info td,
.item_info th {
   padding: 1px 5px;
   text-align: center;
}

.item_info_data tr:last-child th {
   border-bottom: 1px solid $info_border_color;
}

.item_info_data th {
   font-size:      11px;
   text-transform: uppercase;
}

.item_info_data tr td:nth-child(1),
.item_info_data tr:last-child th:nth-child(1) {
   border-right: 1px solid $info_border_color;
}

@each $pos in 'left' 'right' 'center' {
   #item_info_#{$pos} .item_info_border {
      position:   absolute;
      top:        0;
      width:      10px;
      height:     100%;
      background: url('../img/info_border_#{$pos}.png') center no-repeat;

      @if 'left' == $pos {
         right: -10px;
      }

      @else if 'right' == $pos {
         left: -10px;
      }

      @else if 'center' == $pos {
         top:    -10px;
         left:   0;
         width:  100%;
         height: 10px;
      }
   }
}


// -----------------------------------------------------------------------------
//   Top menu
//

#item_control {
   display: none;
}

.navbar {
   background:    $dark;
   border-radius: 0;
   border:        0;
   min-height:    $topmenu_height;
   height:        $topmenu_height;
   position:      fixed;
   top:           0;
   left:          0;
   right:         0;
   z-index:       100;
   //overflow:      hidden;
}

.navbar-nav {
   margin: 0;
}

.navbar-nav > li > a {
   padding:     0 6px;
   font-size:   12px;
   line-height: $topmenu_height;
   color:       $light;
   user-select: none;

   &:hover {
      cursor: pointer;
      background-color: inherit;
   }
}

.item_control_source {
   box-shadow: inset 0 -3px 0 0 $red;
}

.item_control_load {
   box-shadow: inset 0 -3px 0 0 $teal;
}

.item_control_load #bt_addload,
.item_control_load #bt_addsource {
   display: none;
}

.nav > li.disabled > a,
.nav > li.disabled:hover > a {
   color: rgba(255,255,255,0.3);
}



#bt_partlist a {
   background-color: $cyan;
}

#bt_stats a {
   background-color: $purple;
}

#bt_save {
   box-shadow: inset 0 -3px 0 0 $red;

   &.disabled  {
      box-shadow: none;
   }
}


// -----------------------------------------------------------------------------
//   Right section (part list)
//

#part_table {
   display:    none;
   position:   fixed;
   top:        $topmenu_height;
   bottom:     0;
   right:      0;
   background: $light-blue;
   z-index:    2;
}

.part_data,
.part_title {
   padding: 0 3px;
}

.part_i,
.part_nopart {
   text-align: center;
}

.part_title {
   color:            white;
   font-weight:      normal;
   font-size:        12px;
   text-align:       center;
   border-radius:    0;
   padding:          4px 12px;
   white-space:      nowrap;
   outline:          none;
   background-color: $teal;
   border-bottom:    4px solid darken($teal, 10);
}


// -----------------------------------------------------------------------------
//   Right section (legend)
//

$color_legend_bottom: 5px;

#color_legend {
   display:    none;
   position:   fixed;
   bottom:     0;
   right:      0;
   z-index:    1;

   background-image:    url('../img/metalTemperingLegend.png');
   background-repeat:   no-repeat;
   background-position: right;
}

#color_legend>p{
   height:          300px;
   margin:          0 25px 0 0;
   text-shadow:     #FFFFFF 0 0 10px;
   color:           #000000;
   display:         flex;
   flex-direction:  column;
   justify-content: space-between;
   align-items:     flex-end;
}


// -----------------------------------------------------------------------------
//   Bottom menu (config)
//

#bottom_menu {
   display:    none;
   width:      100%;
   position:   fixed;
   bottom:     0;
   background: $light-blue;
   z-index:    3;
}

#bottom_title {
   text-align: center;
   background: rgba(0,0,0,0.05);
   margin:     0;
   padding:    10px 0;
}

#bottom_close {
   position:    absolute;
   top:         10px;
   right:       10px;
   font-size:   30px;
   line-height: 0.5;
}

.bottom_subtitle {
   margin:      0;
   padding-top: 10px;
   border-top:  1px solid rgba(0,0,0,0.2);
   text-align:  center;
   font-size:   16px;
}

.option_section {
   margin-top:      10px;
   display:         flex;
   //align-items:     center;
   justify-content: center;
   line-height:     1;
   & label {
      font-weight: normal;
   }
}

.config {
   margin:     10px 15px;
   text-align: left;
}

.config_reset {
   line-height: 1.5;
   text-align: center;
   margin-bottom: 10px;
}

.mybtn-defaultConfig {
   display: inline-block;
   @include square-btn($red, white);
}

#sheet_selection {
   margin:      10px 0;
   text-align:  center;
   line-height: 1.5;
}

#sheetpath {
   display: inline;
}

.bt_sheet {
   display: inline-block;
   margin:  10px;
   width:   130px;
}

#bt_select_sheet {
   @include square-btn($teal, white);
}

#bt_refresh_sheet {
   @include square-btn($blue, white);
}

#bt_remove_sheet {
   @include square-btn($red, white);
}


// -----------------------------------------------------------------------------
//   Total power section
//

$border-color: rgba(white,0.3);

#totalpower {
   position       : fixed;
   bottom         : 0;
   padding        : 7px 7px;
   border-radius  : 0 5px 0 0;
   background     : rgba($dark, 0.8);
   color          : white;
   letter-spacing : .1rem;
   z-index        : 1;
}

#totalpower th.totalcell {
   border-bottom: 1px solid $border-color;
   text-transform : uppercase;
   font-size: 10px;
}

.totalcell {
   font-size: 12px;
   padding: 2px 5px;

   &:not(:first-child) {
      text-align: center;
   }

   &:first-child {
      border-right: 1px solid $border-color;
   }

   &:last-child {
      border-left: 1px solid $border-color;
   }
}
