@import "colors.scss";
@import "mybtn.scss";

#sequence_edition, #sequence_display {
   display: none;
   margin: 10px;
}

#diagramScale_label {
   background: $light-blue;
   padding: 10px;
   margin-top: 10px;
}


// -----------------------------------------------------------------------------
// SEQUENCE SELECTION
//

$topmenu_height: 30px;

body {
   padding-top: $topmenu_height;
}

#sequence_selection {
   position:    fixed;
   top:         0;
   left:        0;
   right:       0;
   background:  $dark;
   height:      $topmenu_height;
   display:     flex;
   align-items: center;
   z-index:     999;
}

#sequence_select {
   margin: 0 6px 0 26px;
}

#sequence_selection ul {
   display: flex;
   margin: 0;
   padding: 0;

   &#sequence_control {
      box-shadow: inset 0 -3px 0 0 $red;
   }
}

#sequence_selection li {
   list-style: none;
}

#sequence_selection label {
   margin:      0;
   padding:     0 6px;
   color:       $light;
   font-weight: normal;
   font-size:   12px;
}

#sequence_selection a {
   margin:          0;
   padding:         0 6px;
   font-size:       12px;
   line-height:     $topmenu_height;
   color:           $light;
   background:      none;
   border:          none;
   user-select:     none;
   text-decoration: none;
   white-space:     nowrap;

   &:hover {
      cursor: pointer;
   }
}




// -----------------------------------------------------------------------------
// STEP TABLE
//

#step_table th {
   padding: 2px 8px;
}

#step_table td {
   padding: 4px 8px;
}

#step_table ul {
   list-style: none;
   margin:     0;
   padding:    0;
}

.step-up,
.step-down {
   @include square-btn(white, $grey);
   padding: 2px 6px;

   &:hover,
   &:focus {
      background-color: $grey;
      color:            white;
   }

   &:active {
      background-color: darken($grey, 15);
      color:            white;
   }
}

#step_table > tbody > tr {
   &:first-child .step-up,
   &:nth-last-child(2) .step-down {
      display: none;
   }

   &:not(:last-child) td:last-child {
      text-align: right;
   }
}

.step-remove {
   @include square-btn(white, $red);
   padding: 2px 7px;

   &:hover,
   &:focus {
      background-color: $red;
      color:            white;
   }

   &:active {
      background-color: darken($red, 15);
      color:            white;
   }
}

.signal-remove {
   @include square-btn(white, $red);

   &:active {
      color: darken($red, 15);
   }
}

.signal-up,
.signal-down {
   @include square-btn(white, $grey);

   &:active {
      color: darken($grey, 15);
   }
}

.signal-remove,
.signal-up,
.signal-down {
   padding: 0px;
   visibility: hidden;

   &:hover,
   &:focus {
      background-color: white;
   }
}

#step_table li {
   &:hover {
      & .signal-remove,
      & .signal-up,
      & .signal-down {
         visibility: visible;
      }
   }

   &:first-child .signal-up,
   &:last-child  .signal-down {
      display: none;
   }
}

.asserted-add,
.awaited-add {
   @include square-btn(white, $teal);
   margin-top: 4px;
   padding: 0px 5px;

   &:hover,
   &:focus {
      background-color: $teal;
      color:            white;
   }

   &:active {
      background-color: darken($teal, 15);
      color:            white;
   }
}

.step-add{
   @include square-btn($teal, white);

   &:hover {
      background-color: darken($teal, 5);
   }

   &:active,
   &:focus {
      background-color: darken($teal, 10);
   }
}
