@import "material-color.scss";

$topmenu_height:	30px;						// >= 20px


// -----------------------------------------------------------------------------
//	Page
//

body {
	min-width:	100%;
	min-height:	100%;
	margin:		$topmenu_height 0 0 0;
	padding:		0;
}

// -----------------------------------------------------------------------------
//	Item info
//

$info_background_color: rgba( 34, 34, 34,1);
$info_text_color:			rgba(255,255,255,1);
$info_border_color:		rgba(255,255,255,0.2);

.item_info
{
	display:			none;
	position:		absolute;
	background:		$info_background_color;
	color:			$info_text_color;
	font-family:	arial;
	font-size:		13px;
	border-radius:	10px;
	padding:			5px 10px;
}

.item_info td,
.item_info th
{
	padding:		1px 5px;
	text-align:	center;
}

.item_info_data tr:last-child th
{
	border-bottom:		1px solid $info_border_color;
}

.item_info_data th
{
	text-transform:	uppercase;
}

.item_info_data tr				td:nth-child(1),
.item_info_data tr:last-child	th:nth-child(1)
{
	border-right:	1px solid $info_border_color;
}

@each $pos in 'left' 'right' 'center' {
	#item_info_#{$pos} .item_info_border {
		position:	absolute;
		top: 			0;
		width:		10px;
		height:		100%;
		background:	url('../img/info_border_#{$pos}.png') center no-repeat;

		@if		'left'   == $pos { right: -10px; }
		@else if	'right'  == $pos { left:  -10px; }
		@else if	'center' == $pos {
			top:		-10px;
			left: 	0;
			width:	100%;
			height:	10px;
		}
	}
}


// -----------------------------------------------------------------------------
//	Top menu
//

#item_control {
	display: none;
}

.navbar {
	@extend .grey, .darken-4;

	border-radius:	0;
	border:			0;
	min-height:		$topmenu_height;
	height:			$topmenu_height;
	position:		fixed;
	top:				0;
	left:				0;
	right:			0;
	z-index:			100;
	overflow:		hidden;
}

.nav {
	margin: 0;
}

.nav>li>a {
	padding:			0 6px;
	font-size:		12px;
	line-height:	$topmenu_height;
	color:			color('grey', 'lighten-5');
	user-select:	none;

	&:hover {
		cursor: pointer;
		background-color: inherit;
	}
}

.item_control_source,
.item_control_load {
	@extend .grey, .darken-3;
}

.item_control_load #bt_addsource,
.item_control_load #bt_addload {
	display: none;
}

.disabled, .disabled a{
	color: rgba(255,255,255,0.3);
}

#bt_partTable a {
	background-color: color('cyan', 'accent-4');
}

#bt_stats a {
	background-color: color('purple', 'accent-4');
}



// -----------------------------------------------------------------------------
//	Bottom menu (config)
//

#bottom_menu {
	display:		none;
	width:		100%;
	position:	fixed;
	bottom:		0px;
	background: color('blue-grey', 'lighten-5');
}

#config_tree {
	display:			flex;
	align-items:	center;
	border-top:		1px solid #DDDDDD;
}

.config {
	margin: 10px 20px;
	text-align: center;
}
